<div class='col-xs-12'>
  <div class='box-body'>

  <!-- alert info -->
  <div class="alert alert-info">
   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
   Our team of developers is working to create here an 
   <i class='fa fa-gears'></i> environment nice for you. Enjoy!
  </div>

  </div>
</div>
</div>