<div class='col-xs-12'>
  <div class='box box-light-blue'>
   <div class='box-header'>
    <h3 class="box-title"><i class="fa fa-edit"></i> Edit profile</h3>
   </div>
  
  <div class='box-body'>

	<%= render 'form' %>

  </div>
</div>
</div>
