<div class='col-xs-12'>
  <div class='box box-light-blue'>
   <div class='box-header'>
    <h3 class="box-title"><i class="fa fa-edit"></i> Create my profile</h3>
   </div>
  
  <div class='box-body'>

  <div class="alert alert-success">
   Welcome! You're almost finishing the creation of your account. Complete the fields below. 
   <b>Thank you - Social Real :)</b>
  </div>

	<%= render 'form' %>

  </div>
</div>
</div>
